<script>
  function activate(tools, toolId) {
    for (i = 0; i < tools.length; i++) {
      var id = tools[i].getAttribute("toolID");
      if (toolId == id) {
        if (!tools[i].classList.contains("active")) {
          tools[i].className += " active";
        }
      } else {
        tools[i].className = tools[i].className.replace(" active", "");
      }
    }
  }
  function showTool(toolId) {
    console.log("Show " + toolId);
    var tools = document.getElementsByTagName("h2");
    for (i = 0; i < tools.length; i++) {
      var id = tools[i].id;
      if (toolId == id) {
        tools[i].parentElement.style.display = "block";
      } else {
        tools[i].parentElement.style.display = "none";
      }
    }
    activate(document.getElementById("slider").children, toolId);
    activate(document.getElementById("bottom-slider").children, toolId);
  }
</script>
