<section class = "tool-slider">
  <div class = "bottom-divider">
  </div>
  <ul class = "tool-slider" id = "bottom-slider">
  {%- assign projects = site.data.projects | where_exp:"item", "item.end < 2020" -%}
  {%- for project in projects -%}
    {%- assign li_width = 100.0 | divided_by: projects.size -%}
    <li
    class = "tool{% if project.id == 'landsense' %} active{% endif %}"
    toolID="{{project.id}}"
    onclick="showTool('{{project.id}}');"
    style="width: {{li_width}}%; background-image: url({{project.logo}});">
      <span class="tool-name">
        {%- if project.short_name -%}
        {{ project.short_name }}
        {%- else -%}
        {{ project.name }}
        {%- endif -%}
      </span>
    </li>
  {%- endfor -%}
  </ul>
</section>
