---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|PT+Serif');

// Our variables
// $base-font-family: "Open Sans", sans-serif;
// $base-font-family: "PT Serif", serif;
$base-font-family: "Nunito", sans-serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.95;
$base-line-height: 1.5;

$alt-font-family: "Open Sans", sans-serif;
$alt-font-weight: bold;

$spacing-unit:     50px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #94c01a;//#d33682;

$grey-color:       #3F3F3F;
$grey-color-light: lighten($grey-color, 50%);
$grey-color-lighter: lighten($grey-color, 70%);
$grey-color-dark:  darken($grey-color, 25%);

@import "academic";

// Width of the content area
$content-width:    1200px;//700px;

$on-palm:          1200px;//500px;
$on-laptop:        1200px;//900px;//700px;

.logo {
  max-width:50px;
  max-height:50px;
  width: auto;
  height: auto;
}

.rounded-circle {
  border-radius: 50% !important;
  display: block;
  max-width:100px;
  max-height:100px;
  width: auto;
  height: auto;
}
.author:not(:last-child)::after {
    content: ", ";
}
.author:last-child::after {
    content: ". ";
}
.title::after {
    content: ". ";
}

.width-100 {
  width: 100% !important;
}
.col1, .col2, .col3 {
  width: 33%;
  text-align: center;
}
tr {
  vertical-align: top;
}
// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
//@import "academic";

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  // margin-right: auto;
  // margin-left: auto;
  // padding-right: $spacing-unit;
  // padding-left: $spacing-unit;
  margin: 0 auto;
  padding: 0 $spacing-unit;
  position: relative;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}
.site-nav {
  padding: 0 30px;
}

.tool-slider {
  width: 100%;
  margin: 0;
  text-align: center;
  position: relative;
  overflow-x: auto;
}

.tool-slider ul {
  height: 160px;
  min-width: 800px;
}

.tool {
  height: 160px;
  display: inline-block;
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: auto 40px;
  position: relative;
  float: left;
}

.tool-name {
  margin: 80px auto 0 auto;
  display: block;
}

.tool:hover {
  cursor: pointer;
  background-color: #fafafa;
}
.active {
  background-color: $background-color;
  z-index: 2;
}
.divider {
  height: 20px;
  bottom: 0;
  width: 100%;
  min-width: 800px;
  background: $brand-color;
  position: absolute;
}
.bottom-divider {
  height: 20px;
  top: 0;
  width: 100%;
  min-width: 800px;
  background: $brand-color;
  position: absolute;
  z-index: 1;
}

.bib {
  font-size: 1rem;
  line-height: 1.5rem;
}
.author {
  color: $grey-color-light;
}
.imgLink {
  float: right;
  margin-left: 1px;
  margin-right: 1px;
}
.site-footer .footer-col {
  margin-top: 0px;
  margin-bottom: 0px;
}
.site-footer .bottom {
  margin-top: 0px;
  margin-bottom: 0px;
}
